body {
  max-width:1000px
}

#new-pokemon-randomizer-div {
  max-width:296px
}

.w3-bar-item {
  background-color: #1E90FF;
  color: white;
  text-decoration: none;
  transition: all 1.5s ease-out;
}

.w3-bar-item:hover,
.w3-bar-item:focus {
  background-color: white;
  color: #1E90FF;
}
